<%= form_for(@user, :html => { class: 'pure-form pure-form-aligned' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '表示名' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, 'メールアドレス' %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワード' %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'パスワード(確認用)' %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div style='display:none'>
    <%= f.text_field :uid %>
    <%= f.text_field :provider %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'pure-button pure-button-primary' %>
  </div>
<% end %>
