<h1>ユーザ登録を完了してください</h1>

<% if @user.uid %>
  <img src='https://graph.facebook.com/<%= @user.uid %>/picture'>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
