<h1>Time Line</h1>

<table class='pure-table'>

  <% @books.each_with_index do |book, i| %>
    <% if (i % 2 == 0) then%><tr><% end %>

      <% style_class = i.odd? ? 'left_line' : 'right_line' %>
      <th class=<%= style_class %> >
        <div>
          <div class='pure-u-1'>
            <img src='<%= book.large_image %>' />
          </div>
          <div class='pure-g'>
            <div class='pure-u-1-6'>
              <img src='https://graph.facebook.com/<%= @user.uid %>/picture'>
            </div>
            <div class='pure-u-5-6'>
              <p><%= @comments.shuffle.first %></p>
            </div>
          </div>
        </div>
      </th>
  <% end %>
</table>
