<%= form_for(@book, :html => { class: 'pure-form pure-form-aligned' })  do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asin %><br>
    <%= f.text_field :asin %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :product_group %><br>
    <%= f.text_field :product_group %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :publication_date %><br>
    <%= f.date_select :publication_date %>
  </div>
  <div class="field">
    <%= f.label :small_image %><br>
    <%= f.text_field :small_image %>
  </div>
  <div class="field">
    <%= f.label :medium_image %><br>
    <%= f.text_field :medium_image %>
  </div>
  <div class="field">
    <%= f.label :large_image %><br>
    <%= f.text_field :large_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
