<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table class='pure-table pure-table-bordered'>
  <thead>
    <tr>
      <th>image</th>
      <th>Title</th>
      <th>Author</th>
      <th>Product group</th>
      <th>Manufacturer</th>
      <th>Publication date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><img src="<%= book.small_image %>" /></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.product_group %></td>
        <td><%= book.manufacturer %></td>
        <td><%= book.publication_date %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', books_search_path, class: 'pure-button' %>
