<%= form_tag books_search_path, style: 'pure-form', method: 'get' do %>
  <p>
    <%= text_field_tag :keywords, params[:keywords] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class='pure-table pure-table-bordered'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Author</th>
      <th>Product group</th>
      <th>Manufacturer</th>
      <th>Publication date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><img src="<%= book.small_image %>" /></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.product_group %></td>
        <td><%= book.manufacturer %></td>
        <td><%= book.publication_date %></td>
        <td>
          <%= form_for(book) do |f| %>
            <div style='display: none'>
              <%= f.text_field :asin %>
              <%= f.text_field :title %>
              <%= f.text_field :isbn %>
              <%= f.text_field :author %>
              <%= f.text_field :product_group %>
              <%= f.text_field :manufacturer %>
              <%= f.date_select :publication_date %>
              <%= f.text_field :small_image %>
              <%= f.text_field :medium_image %>
              <%= f.text_field :large_image %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% @book = @books.first %>
