<p id="notice"><%= notice %></p>

<p>
  <strong>Asin:</strong>
  <%= @book.asin %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Product group:</strong>
  <%= @book.product_group %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @book.manufacturer %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @book.publication_date %>
</p>

<p>
  <strong>Small image:</strong>
  <%= @book.small_image %>
</p>

<p>
  <strong>Medium image:</strong>
  <%= @book.medium_image %>
</p>

<p>
  <strong>Large image:</strong>
  <%= @book.large_image %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
