<div id="nav" class="pure-u">

  <div class="nav-inner">
    <a href="/"><button class="primary-button pure-button">Readist</button></a>

    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <% if user_signed_in? %>
            <%= current_user.name %>
            [<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "pure-menu-link" %>]
          <% else %>
              <%= link_to "Facebookでログイン", user_omniauth_authorize_path(:facebook), class: "pure-menu-link" %>
          <% end %>
        </li>
        <li class="pure-menu-item"><a href="/books/search" class="pure-menu-link">お気に入りを追加</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">おすすめ<span>(2)</span></a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">フォロー</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">ビジネス</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">コミック</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">小説</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">雑誌</a></li>
      </ul>
    </div>
  </div>
</div>
