<!DOCTYPE html>
<html>
  <head>
    <title>Readist</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class='content pure-g'>

      <div class='pure-u-1-6'>
        <%= render 'layouts/menu' %>
      </div>

      <div class='pure-u-5-6'>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
